.contact-wrapper {
  width: 100%;
  margin: clamp(20px, 4vw, 50px) auto;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: clamp(20px, 4vw, 50px);
  align-items: start;
}

/* Form */
.contact-form {
  background: #fff;
  padding: clamp(10px, 2vw, 20px) clamp(15px, 2vw, 30px);
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.contact-title {
  font-family: system-ui;
  color: #722327;
  font-weight: 600;
  font-size: clamp(12px, 3vw, 24px);
  position: relative;
  text-align: center;
  display: block;
}

.contact-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  width: 60%;
  height: 1px;
  background: #97c600;
  border-radius: 5px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(15px, 2vw, 25px);
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: clamp(4px, 1vw, 8px);
}


.form-group label {
  font-family: system-ui;
  font-size: clamp(12px, 1.2vw, 16px);
  font-weight: 600;
  margin: 0;
}


.form-group input,
.form-group select {
  width: 90%;
  padding: clamp(10px, 1vw, 14px);
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: clamp(13px, 1vw, 15px);
}

.form-group select{
  width: 100%;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #722327;
  box-shadow: 0 0 5px rgba(114, 35, 39, 0.25);
}

.submit-btn {
  display: block;
  width: 50%;
  margin: clamp(10px, 2vw, 20px) auto 0;
}


@media(max-width:900px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

}

@media(max-width:600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .contact-wrapper {
    width: 95%;
  }

}