.placement-wrapper {
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  padding: clamp(10px, 2vw, 25px);
  width: 80%;
}

.placement-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(120px, 20vw, 180px), 1fr));
  gap: clamp(20px, 3vw, 40px);
  margin-bottom: clamp(15px, 3vw, 25px);
}

.placement-heading {
  font-size: clamp(14px, 2.5vw, 20px);
  font-weight: bold;
  color: green;
  text-align: center;
  margin: 0;
}

.placement-count {
  font-size: clamp(18px, 2.5vw, 28px);
  font-weight: bold;
  color: rgb(114, 83, 5);
  text-align: center;
  margin: 0;
}


.chart-box {
  width: 60%;
  height: clamp(300px, 40vw, 380px);
  margin: 0 auto;

}


@media (max-width: 480px) {
  .chart-box {
    width: 90%;
  }
}