.skill-grid{
  background: white;
  padding: clamp(8px, 1.5vw, 15px);
}

/* IMAGES */
.image-wrapper {
  display: flex;
  justify-content: center;
      align-items: center;
  gap: clamp(8px, 1.5vw, 15px);
  margin: clamp(8px, 1.5vw, 15px) auto;
}

.image-wrapper img {
  /* width: 100%; */
  height: clamp(200px, 15vw, 280px);
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .image-wrapper {
    flex-direction: column;
  }
}