.board-body-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 cards per row */
    gap: clamp(12px, 2vw, 24px);
    margin-top: clamp(16px, 2vw, 30px);
}


.board-card {
    background: rgb(245, 244, 242);
    padding: 0 clamp(10px, 1.5vw, 20px);
    border-left: 4px solid rgba(151, 198, 0, 1);
    border-radius: 0 50px 50px 0;
    transition: all 0.3s ease;
}


.board-name {
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: 600;
    margin-bottom: 0px;
    color: #722327;
}


/* Hover effect */
.board-card:hover {
    transform: translateY(-4px);
    background: #f7f1de;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Change text when card is hovered */
.board-card:hover .board-name {
    color: #004d00;
}

.board-card:hover .board-desg {
    color: rgb(55, 55, 107);
}

.board-desg {
    margin: 5px 0;
    color: rgb(99, 98, 98);
}

/* Mobile: 1 card per row */
@media (max-width: 600px) {
    .board-body-container {
        grid-template-columns: 1fr;
    }
}