/* Leader Section */
.leader-card {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: clamp(20px, 3vw, 40px);
}

.leader-section {
  display: flex;
  gap: clamp(20px, 3vw, 40px);
  align-items: flex-start;
}

.leader-image img {
  width: clamp(180px, 20vw, 250px);
  height: clamp(180px, 20vw, 250px);
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.leader-content {
  flex: 1;
}


.leader-designation {
  color: rgb(124, 89, 1);
  font-style: italic;
  margin-top: 0;
  font-size: clamp(12px, 1.5vw, 20px);
}

.leader-message {
  line-height: 1.7;
}

/* Bottom gallery */
.leadership-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.leadership-gallery img {
  width: 100%;
  border-radius: 8px;
}


/* Mobile View */
@media (max-width: 1440px) {
  .leader-section {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}