/* CARD */
.achievement-card {
  width: 90%;
  padding: clamp(12px, 2vw, 24px);
  margin: clamp(15px, 4vw, 50px) auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-image: url("/public/assets/images/home/rank11.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* HOVER */
.achievement-card:hover {
  transform: translateY(-8px) scale(1.01);
  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.08),
    0 25px 50px rgba(0, 0, 0, 0.12);
}

/* CONTENT */
.achievement-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 3vw, 50px);
}

/* IMAGE */
.left img {
  max-width: 400px;
  height: clamp(180px, 35vw, 250px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .achievement-content {
    flex-direction: column;
    gap: 0;
  }

  .achievement-card {
    width: 100%;
  }

  .right ul li {
    padding-left: 0;
  }

  .right ul li::before {
    display: none;
  }
}