/* GRID */
.faculty-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 25vw, 210px), 1fr));
  gap: clamp(10px, 1.5vw, 30px);
}

.faculty-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
}

/* IMAGE WRAPPER */
.faculty-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  /* optional spacing */
}

/* IMAGE */
.faculty-img img {
  width: clamp(100px, 15vw, 150px);
  height: clamp(100px, 15vw, 150px);
  border-radius: 50%;
  object-fit: cover;
  /* better than fill */
  display: block;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* CONTENT */
.faculty-content {
  padding: clamp(5px, 1.5vw, 10px);
  text-align: center;
}

.faculty-name {
  font-family: system-ui;
  color: rgb(117, 115, 115);
  font-weight: 500;
  font-size: clamp(12px, 1.5vw, 16.5px);
  margin: 5px 0;
}

.designation-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
}

.designation-row p {
  margin: 0;;
}

.hover-icon {
  display: flex;
  align-items: center;
  font-size: clamp(20px, 1.2vw, 25px);
  color:green;
  transition: 0.3s;
  cursor: pointer;
}


.faculty-card:hover .hover-icon {
  transform: translateX(5px);
}

/* MODAL BACKDROP */
.faculty-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

.modal-content {
  position: relative;
  /* REQUIRED for absolute child */
  background: #fff;
  width: clamp(280px, 40vw, 420px);
  padding: clamp(20px, 3vw, 30px);
  border-radius: 16px;
  text-align: center;
  animation: scaleIn 0.3s ease;
}

/* IMAGE IN MODAL */
.modal-img {
  width: clamp(110px, 15vw, 150px);
  height: clamp(110px, 15vw, 150px);
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}