.about-pg-container {
  display: flex;
  gap: clamp(20px, 4vw, 40px);
  flex-wrap: wrap;
}

.about-pg-img {
  flex: 1;
  max-width: 450px;
}

.about-pg-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-pg-content {
  flex: 1;
}


.row-lists>div {
  flex: 1;
}

.row-lists ul {
  padding-left: 20px;
}


.eligibility-btns {
  display: flex;
  gap: clamp(10px, 2vw, 20px);
}



.syllabus-section {
  display: flex;
  align-items: center;
  gap: clamp(10px, 2vw, 20px);
}

.syllabus-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.syllabus-row .board-name {
  margin: 0;
  flex: 1;
}


/* Image on right */
.accordion-image {
  width: clamp(150px, 25vw, 320px);
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}

.download-row {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  gap: 15px;
}

.eligibility-btns {
  display: flex;
  gap: 10px;
}

/* Mobile responsive */
@media (max-width: 1440px) {
  .about-pg-container {
    flex-direction: column;
    align-items: center;
    gap: 0
  }
}

@media (max-width: 768px) {
  .about-pg-container {
    display: flex;
    flex-direction: column;
  }

  .accordion-content-wrapper {
    flex-direction: column;
  }

  .accordion-image {
    width: 100%;
  }
}

