/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(10px, 4vw, 20px) clamp(20px, 5vw, 100px);
  flex-wrap: wrap;
}

/* LOGO */
.logo-section {
  display: flex;
  align-items: center;
  gap: clamp(15px, 2vw, 40px);
}

.logo2-section {
  display: flex;
  align-items: center;
  gap: clamp(5px, 2vw, 10px);
}

.logo1 {
  height: clamp(25px, 4.5vw, 65px);
}

.logo2 {
  height: clamp(40px, 5vw, 80px);
}

.logo-title {
  font-family: math;
  margin: 0;
  color: #722327;
  font-size: clamp(20px, 2vw, 38px);
  font-weight: 800;
  letter-spacing: 0.5px;
}

.logo-subtitle {
  font-family: math;
  margin: 0;
  color: #722327;
  font-size: clamp(10.5px, 1.2vw, 20px);
}

/* NAVBAR */
.navbar {
  position: relative;
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sub-navbar,
.main-navbar {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

.sub-navbar li,
.main-navbar li {
  position: relative;

}

.sub-navbar {
  gap: clamp(10px, 2vw, 25px);
}

.main-navbar {
  gap: clamp(15px, 2vw, 35px);
  background: linear-gradient(to left, white 90%, rgba(255, 255, 255, 0));
  padding: clamp(5px, 1.5vw, 10px);
}

.sub-navbar li span.nav-item,
.main-navbar li span.nav-item {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.sub-navbar li span.nav-item {
  font-size: clamp(9px, 1.2vw, 14px);
  color: #002b47;
}


/* Direct link only */
.sub-navbar li a.nav-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: clamp(9px, 1.2vw, 14px);
  color: #002b47;
  font-weight: 500;
  text-decoration: none;
}

.sub-navbar li a,
.main-navbar li a {
  color: white;
  font-size: clamp(9px, 1.2vw, 14px);
  text-decoration: none;
}


/* MAIN NAV */
.main-navbar li span.nav-item {
  font-size: clamp(12px, 1.2vw, 16px);
  color: #004d00;
  font-weight: 500;
}

/* DROPDOWN ICONS */
.sub-navbar svg,
.main-navbar svg {
  font-size: clamp(18px, 1.6vw, 24px);
  color: #002b47;
}

.main-navbar svg {
  color: #004d00;
}


/* DROPDOWN */
.dropdown-menu {
  position: absolute;
  right: 10%;
  left: auto;
  width: max-content;
  background: #722327;
  list-style: none;
  padding: 10px 0;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
  transition: 0.3s ease;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px 20px;
  color: white;
  font-size: 16px;
}

.dropdown-menu li:hover {
  background: #f2f2f2;
  color: #004d00;
}

.dropdown-menu li:hover a {
  color: #004d00 !important;
}

.main-navbar li:hover .dropdown-menu,
.sub-navbar li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* HIDE MOBILE ELEMENTS (DESKTOP) */
.hamburger,
.mobile-menu,
.menu-overlay,
.close-btn {
  display: none;
}

.address {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}




/*MOBILE  */
@media (max-width: 768px) {
  .close-btn {
    display: flex;
    position: absolute;
    top: clamp(10px, 1.5vw, 18px);
    right: clamp(10px, 1.5vw, 18px);
    font-size: clamp(16px, 2vw, 30px);
    color: #722327;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
  }


  .header {
    justify-content: center;
    padding-top: 20px;
  }

  .logo-subtitle {
    margin-top: -5px;
  }

  /* HIDE DESKTOP NAV */
  .nav-section {
    display: none !important;
  }

  /* HAMBURGER */
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5px;
    left: 8px;
    font-size: 20px;
    color: #722327;
    cursor: pointer;
    z-index: 1100;
  }

  /* MOBILE MENU */
  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 270px;
    height: 100vh;
    background: #fff;
    padding: 55px 15px 20px;
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1050;
  }

  .mobile-menu.active {
    left: 0;
  }


  /* MOBILE NAV */
  .mobile-sub-navbar svg,
  .mobile-main-navbar svg {
    font-size: 20px;
    color: #004d00;
  }

  .mobile-sub-navbar,
  .mobile-main-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mobile-sub-navbar li,
  .mobile-main-navbar li {
    display: flex;
    flex-direction: column;
    color: #004d00;
    border-bottom: 1px solid #f0f0f0;
  }

  .mobile-sub-navbar li span,
  .mobile-main-navbar li span {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }

  .mobile-main-navbar a,
  .mobile-sub-navbar a {
    padding: 10px 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #004d00;
  }

  /* DROPDOWN */
  .mobile-dropdown {
    max-height: 0;
    overflow: hidden;
    background: #f9f9f9;
    border-left: 3px solid #722327;
    transition: max-height 0.3s ease;
  }

  .mobile-dropdown.open {
    max-height: 600px;
    padding: 5px 0;
  }

  .mobile-dropdown a {
    padding: 8px 15px;
    font-size: 10px;
    color: #333;
  }

  .rotated {
    transform: rotate(180deg);
    transition: 0.3s;
  }

  /* OVERLAY */
  .menu-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
}

@media (max-width: 600px) {
  .logo-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-inline: 20px;
  }

  .logo2-section {
    order: 1;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .logo1 {
    order: 2;
  }
}