.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.banner-image {
  position: relative;
  width: 100%;
  height: clamp(220px, 45vw, 800px);
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


/* ALL IMAGES */
.banner-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.4s ease;
  z-index: 1;
}


/* CURRENT IMAGE */
.banner-background.active {
  opacity: 1;
  animation: bannerZoom 5s ease-in-out;
}


/* IMAGE ZOOM */
@keyframes bannerZoom {
  0% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

/* BANNER CARD */
.banner-card {
  position: absolute;
  bottom: clamp(15px, 4vw, 50px);
  left: clamp(20px, 5vw, 100px);
  padding: clamp(10px, 2vw, 20px) clamp(15px, 2vw, 30px);
  width: fit-content;
  background: #5bce8b;
  border-bottom-left-radius: clamp(15px, 4vw, 30px);
  z-index: 10;
  animation: bannerCard 5s ease-in-out;
}


/* CARD ANIMATION */
@keyframes bannerCard {
  0% {
    opacity: 1;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* TITLE */
.banner-title {
  margin: 0;
  font-family: math;
  font-size: clamp(14px, 2vw, 30px);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.3;
}

/* .banner-image {
  position: relative;
  background: url("/public/assets/images/home/banner.jpg") center / cover no-repeat;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  height: clamp(220px, 45vw, 800px);
}

.banner-card {
  position: absolute;
  bottom: clamp(15px, 4vw, 50px);
  left: clamp(20px, 5vw, 100px);
  padding: clamp(10px, 2vw, 20px) clamp(15px, 2vw, 30px);
  max-width: clamp(250px, 80vw, 400px);
  border-bottom-left-radius: clamp(15px, 4vw, 30px);
  background: #97c600;
}

.banner-title {
  font-family: math;
  color: #002B47;
  margin: 0;
  font-size: clamp(14px, 2vw, 28px);
  font-weight: 500;
} */

