.department-section {
  text-align: center;
  padding: clamp(25px, 4vw, 45vw) clamp(20px, 4.5vw, 100px);
  background: #f3ecd3;
}

/* Wrapper now gives space to buttons */
.scroll-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(10px, 2vw, 20px);
}

/* Buttons take space normally */
.scroll-btn {
  /* background: #008a00; */
  color: #722327;
  border: none;
  padding: clamp(4px, 2vw, 8px) clamp(5px, 2vw, 10px);
  cursor: pointer;
  font-size: clamp(16px, 2vw, 22px);
  border-radius: 50%;
  flex-shrink: 0;
  /* prevent shrinking */
}

/* Container */
.department-container {
  display: flex;
  gap: clamp(15px, 3vw, 40px);
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex: 1;
  /* take remaining space */
}

.department-container::-webkit-scrollbar {
  display: none;
}

/* Card */
.department-card {
  flex: 0 0 clamp(250px, 60vw, 320px);
  text-align: center;
}

/* Image */
.department-card img {
  width: 95%;
  height: clamp(220px, 25vw, 300px);
  object-fit: cover;
  border-radius: 50%;
}

/* Text */
.dep-name {
  font-family: math;
  color: #008a00;
  letter-spacing: 0.8px;
  font-size: clamp(16px, 2vw, 22px);
  margin: clamp(10px, 2vw, 12px) 0 0 0;
}

/* MOBILE: show only ONE card */
@media (max-width: 600px) {
  .department-card {
    flex: 0 0 100%;
  }
}