/* SECTION */
.global-section {
  padding: clamp(25px, 4vw, 45vw) clamp(20px, 4.5vw, 100px);
  text-align: center;
  background-image: url("/public/assets/images/home/rank7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CONTAINER */
.global-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(20px, 3vw, 40px);
}

/* CARD */
.global-card {
  max-width: clamp(180px, 15vw, 260px);
  flex: 1 1 clamp(160px, 25%, 220px);
  padding: clamp(10px, 3vw, 18px) clamp(5px, 1.2vw, 8px);
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* HOVER EFFECT */
.global-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
}

/* GLOW BORDER EFFECT */
.global-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 18px;
  padding: 2px;
  background: linear-gradient(120deg, #722327, #ff6a00, #ffd700);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: 0.4s;
}

.global-card:hover::before {
  opacity: 1;
}

/* ICON */
.global-icon img {
  width: clamp(40px, 6vw, 65px);
  height: auto;
  object-fit: contain;
  transition: transform 0.4s ease;
}

/* ICON ANIMATION */
.global-card:hover .global-icon img {
  transform: scale(1.2) rotate(5deg);
}

/* TITLE */
.global-title {
  font-size: clamp(12px, 1.5vw, 18px);
  font-weight: 450;
  color: #722327;
  margin: clamp(5px, 1.5vw, 10px);
  transition: color 0.3s ease;
}

/* TITLE HOVER */
.global-card:hover .global-title {
  color: #004d00;
}

/* ENTRY ANIMATION */
.global-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

/* STAGGER EFFECT */
.global-card:nth-child(1) {
  animation-delay: 0.2s;
}

.global-card:nth-child(2) {
  animation-delay: 0.4s;
}

.global-card:nth-child(3) {
  animation-delay: 0.6s;
}

.global-card:nth-child(4) {
  animation-delay: 0.8s;
}

.global-card:nth-child(5) {
  animation-delay: 1s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}