.life-campus {
  margin: 0 auto;
  background-color: #f3ecd3;
  padding: clamp(10px, 1.5vw, 20px) clamp(20px, 4vw, 60px);
}

/* Layout */
.campus-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(15px, 2vw, 30px);
}

/* Left Text */
.campus-left {
  margin-left: clamp(0px, 5vw, 80px);
  flex: 1;
  text-align: left;
}

/* Button */
#campus-btn {
  margin-left: auto;
  display: block;
  margin-top: clamp(15px, 3vw, 25px);
}

/* Right Image */
.campus-image {
  flex: 1;
  text-align: center;
}

.campus-image img {
  width: 85%;
  height: auto;
  object-fit: cover;
  border-radius: clamp(8px, 1vw, 16px);
}

/* Tablet */
@media (max-width: 576px) {
  .campus-content {
    flex-direction:column-reverse;
    text-align: center;
  }

}

