.programs-section {
  padding: clamp(20px, 4vw, 30px) clamp(20px, 6vw, 80px);
  background: #F3ECD3;
  overflow: hidden;
}

/* Slider Container */
.programs-slider {
  width: 100%;
  overflow: hidden;
}

/* Track */
.programs-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
  gap: clamp(15px, 3vw, 30px);
}

.programs-slider:hover .programs-track {
  animation-play-state: paused;
}

/* Card */
.program-cards {
  width: clamp(220px, 30vw, 400px);
  background: #722327;
  color: white;
  border-radius: clamp(10px, 2vw, 16px);
  overflow: hidden;
  flex-shrink: 0;
  text-decoration: none;
}

/* Image */
.program-cards img {
  width: 100%;
  height: clamp(180px, 25vw, 350px);
  object-fit: cover;
}


.pg-title {
  margin: clamp(10px, 2vw, 15px);
  font-size: clamp(16px, 2vw, 25px);
  font-weight: 500;
  text-align: center;
}