.programs-section {
   text-align: center;
  padding: clamp(25px, 4vw, 45vw) clamp(20px, 4.5vw, 100px);
  background: #F3ECD3;
  overflow: hidden;
}

/* Slider Container */
.programs-slider {
  width: 100%;
  overflow: hidden;
}

/* Track */
.programs-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
  padding:clamp(15px, 1.2vw, 20px) 0;
  gap: clamp(15px, 3vw, 40px);
}

.programs-slider:hover .programs-track {
  animation-play-state: paused;
}

/* Card */
.program-cards {
  width: clamp(220px, 30vw, 380px);
  background: #722327;
  color: white;
  overflow: hidden;
  flex-shrink: 0;
  text-decoration: none;
}

/* Image */
.program-cards img {
  width: 100%;
  height: clamp(180px, 23vw, 350px);
  object-fit: cover;
}


.pg-title {
  margin: clamp(7px, 1.2vw, 15px);
  font-size: clamp(12px, 2vw, 22px);
  font-weight: 450;
  text-align: center;
}