/* SECTION */
.recruiters {
  padding: clamp(25px, 4vw, 45vw) clamp(20px, 4.5vw, 100px);
  text-align: center;
  background: linear-gradient(135deg, #ffffff, #f8f8f8);
}

/* SLIDER */
.logo-slider {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

/* TRACK */
.logo-track {
  display: flex;
  gap: clamp(30px, 5vw, 60px);
  animation: scroll 25s linear infinite;
  align-items: center;
}

/* .logo-card{
  background-color: white;
    padding: clamp(5px, 1.2vw, 15px);
    border-radius:clamp(5px, 1.2vw, 15px) ;
} */
/* LOGO IMAGE */
.logo-card img {
  height: clamp(35px, 5vw, 75px);
  width: auto;
  object-fit: contain;
  transition: all 0.4s ease;
}

/* OPTIONAL: GLOW EFFECT */
.logo-card:hover {
  box-shadow: 0 0 20px rgba(114, 35, 39, 0.3);
}

/* ANIMATION */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* PAUSE ON HOVER */
.logo-slider:hover .logo-track {
  animation-play-state: paused;
}